services:
  web:
    build:
      context: .
      dockerfile: ./.docker/staging/nginx/Dockerfile
    volumes:
      # Mount the 'laravel-storage' volume to '/var/www/storage' inside the container.
      # -----------------------------------------------------------
      # This volume stores persistent data like uploaded files and cache.
      # The ':ro' option mounts it as read-only in the 'web' service because Nginx only needs to read these files.
      # The 'php-fpm' service mounts the same volume without ':ro' to allow write operations.
      # -----------------------------------------------------------
      - ../files/laravel-storage-staging:/var/www/storage:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - dokploy-network
    depends_on:
      php-fpm:
        condition: service_healthy # Wait for php-fpm to start

  php-fpm:
    # For the php-fpm service, we will use our common PHP-FPM Dockerfile with the development target
    build:
      context: .
      dockerfile: ./.docker/common/php-fpm/Dockerfile
      target: production # Use the 'production' stage in the Dockerfile
    restart: unless-stopped
    volumes:
      - ../files/laravel-storage-staging:/var/www/storage
    env_file:
      # Load the environment variables from the Laravel application
      - .env
    healthcheck:
      test: ["CMD-SHELL", "php-fpm-healthcheck || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - dokploy-network
  
  # The 'php-cli' service provides a command-line interface for running Artisan commands and other CLI tasks.
  # -----------------------------------------------------------
  # This is useful for running migrations, seeders, or any custom scripts.
  # It shares the same codebase and environment as the 'php-fpm' service.
  # -----------------------------------------------------------
  php-cli:
    build:
      context: .
      dockerfile: ./.docker/php-cli/Dockerfile
    tty: true # Enables an interactive terminal
    stdin_open: true # Keeps standard input open for 'docker exec'
    env_file:
      - .env
    networks:
      - dokploy-network

  worker:
    build:
      context: .
      dockerfile: ./.docker/common/php-fpm/Dockerfile
      target: production
    volumes:
      # Mount the same storage volume as php-fpm so the worker can access files
      - ../files/laravel-storage-staging:/var/www/storage
    env_file:
      - .env
    networks:
      - dokploy-network
    restart: unless-stopped
    entrypoint: ["/usr/local/bin/worker-entrypoint.sh"]
    command: ["php", "artisan", "queue:work", "database", "--sleep=3", "--tries=3"]

networks:
  dokploy-network:
    external: true
