services:
  web:
    image: nginx:latest # Using the default Nginx image with custom configuration.
    volumes:
      # Mount the application code for live updates
      - ./:/var/www
      # Mount the Nginx configuration file
      - ./.docker/production/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      # Map port 80 inside the container to the port specified by 'NGINX_PORT' on the host machine
      - "8080:80"
    environment:
      - NGINX_HOST=localhost
    networks:
      - dokploy-network
    depends_on:
      php-fpm:
        condition: service_started # Wait for php-fpm to start
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prod-whatsapp-qr.rule=Host(`whatsappqr.deudu.co`)"
      - "traefik.http.routers.prod-whatsapp-qr.entrypoints=websecure"
      - "traefik.http.routers.prod-whatsapp-qr.tls.certResolver=letsencrypt"
      - "traefik.http.services.prod-whatsapp-qr.loadbalancer.server.port=8080"

  php-fpm:
    # For the php-fpm service, we will use our common PHP-FPM Dockerfile with the production target
    build:
      context: .
      dockerfile: ./.docker/common/php-fpm/Dockerfile
      target: production
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    env_file:
      # Load the environment variables from the Laravel application
      - .env
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      # Mount the application code for live updates
      - ./:/var/www
    networks:
      - dokploy-network

  worker:
    build:
      context: .
      dockerfile: ./.docker/common/php-fpm/Dockerfile
      target: production
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    env_file:
      - .env
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./:/var/www
    networks:
      - dokploy-network
    restart: always
    command: php artisan queue:work database --sleep=3 --tries=3

networks:
  dokploy-network:
    external: true
